 Current task:

<div>
  <label for="id">ID:</label>
  <span id="id">{{task?.id}}</span>
</div>
<br/>
<div>
  <label for="title">Title:</label>
  <br/>
  <input id="title" *ngIf="task" [(ngModel)]="task.title">
</div>
<br/>
<div>
  <label for="details">Details:</label>
  <br/>
  <textarea id="details" *ngIf="task" [(ngModel)]="task.details"></textarea>
</div>
<br/>
<div>
  <label for="datecreated">Created Date:</label>
  <br/>
  <div id="datecreated"> {{task?.date_created | date:'long'}}

  </div>
  <br/>
  <br/>
  
    <button class = "btn" (click)="goBack() ">Go Back</button>
    <button class = "btn btn-primary" (click)="saveTask() " ngbButton>Save</button>
  
